html, body {
  height: 100%;
  margin: 0;
  padding 0;
}

#map {
  height: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
}

.dropdown:hover .dropdown-content {
  display: block;
}
