html, body {
  height: 100%;
}

#header-nav {
  margin-bottom: 0;
}

#map {
  height: calc(100% - 50px);
  width: 75%;
  position: absolute;
  right: 0;
  top: 52px;
  overflow:hidden;
}

#places {
  width: 25%;
  list-style-type: none;
  overflow: scroll;
  height: calc(100% - 52px);
  margin: 0;
}

.dropdown {
  display: inline-block;
}

.autocomp-menu {
  display: block;
}

.autocomp-item.highlight {
  background: grey;
}

