html,
body {
  height: 100%;
  font-family: "Quattrocento Sans" sans-serif;
}

main {
  display: flex;
  height: calc(100% - (1*50px + 142px));
  width: 100vw;
  position: absolute;
  top: 142px;
}


/* Header and nav */
.title-text {
  font: normal 1.5em "Quattrocento Sans", sans-serif;
  color: darkslategrey;
  display: flex;
  margin: 1em;
}

.title-text-main {
  font: normal 2em Yesteryear, sans-serif;
  color: midnightblue;
  line-height: 0;
  padding-right: 0.5em;
  text-shadow: 6px 6px rgba(47, 79, 79, 0.3);
  width: 6.4em;
}

.title-text-loc {
  height: 1.5em;
  padding-top: 0.2em;
  margin: 0;
  max-width: 60vw;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.header-nav {
  margin-bottom: 0;
  z-index: 1;
  background-color: lightgrey;
  border-color: lightgrey;
  border-radius: 0;
}

@media (max-width: 767px) {
  main {
    height: calc(100% - (3*50px + 92px));
    top: 92px;
  }

  .title-text {
    flex-direction: column;
    padding: 0;
  }

  .title-text-main {
    font-size: 1.2em;
  }

  .title-text-loc {
    font-size: 0.8em;
  }
}
@media (min-width: 768px) {
  .navbar-collapse {
    clear: left
  }
}


/* Location input */
.location-input {
  margin-left: 0;
}


/* Text input clear button */
.clearer {
  pointer-events: auto;
}


/* Map */
.map {
  height: 100%;
  width: 75%;
}
@media (max-width: 767px) {
  .map {
    width: 100%;
  }
}


/* Main places list */
.places {
  width: 25%;
  list-style-type: none;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

.place {
  padding: 0.25em 0 0.25em 1em;
  margin: 0;
  color: darkslategrey;
}
.place:hover {
  background-color: lightgrey;
}

.place-name {
  margin: 0;
  font-weight: bold;
}
.place-suburb {
  margin: 0;
}


/* Nav places list */
#nav-places {
  height: 25vh;
  overflow-y: scroll;
  overflow-x: hidden;
  list-style-type: none;
  padding: 0;
  background: white;
}

.nav-place {
  padding: 0.2em
}

.nav-place:hover {
  background-color: lightgrey;
}


/* Autocomplete dropdown */
.autocomp-menu {
  display: block;
}

.autocomp-item.highlight {
  background: grey;
}


/* Suburbs menu */
.suburb {
  margin-left: 0.2em;
}
.suburb:hover {
  background-color: lightgrey;
}


/* Footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: lightgrey;
}

.api-attrib {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}


.fail-text {
  display: flex;
  padding: 0.5em;
  font-size: 0.7em;
  color: firebrick;
}

.attrib-image {
  display: block;
  height: 30px;
}


/* Scroll Bars */
::-webkit-scrollbar {
      width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
} /* the new scrollbar will have a flat appearance with the set background color */
::-webkit-scrollbar-thumb {
  background-color: lightgrey;
} /* this will style the thumb, ignoring the track */


/* Info window */
.info-window-body {
  font-family: "Quattrocento Sans";
  display: flex;
  vertical-align: middle;
}

.info-window-place-description {
  text-transform: capitalize;
}

.info-window-image {
  display: block;
  height: auto;
  margin: 0.5em;
}

